/* -------------------------------------------------
   HTML ELEMENTS
---------------------------------------------------- */

/* top Elements */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: #CCCCCC;
	font: 14px/160% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	color: #555;
	text-align: center;
}

/* links */
a:link,a:visited {
	text-decoration: none;
	color: #4F82CB;
	background: inherit;
}

a:hover {
	color: #4EBF37;
	background: inherit;
}

a.login:link,a.login:visited {
	color: white;
}

a.login:hover {
	color: white;
	text-decoration: underline;
}

/* headers */
h1,h2,h3 {
	font-family: Tahoma, Verdana, 'Trebuchet MS', Sans-serif;
	font-weight: Bold;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 100%;
	text-transform: uppercase;
	color: #88ac0b;
}

h3 {
	font-size: 100%;
	color: #666666;
}

/* images */
img {
	background: #FFFFFF;
	border: 0px solid #E4E4E4;
	padding: 0px;
}

img.float-right {
	margin: 5px 0px 10px 10px;
}

img.float-left {
	margin: 5px 10px 10px 0px;
}

h1,h2,h3,p {
	padding: 0px;
	margin: 0;
}

ul,ol {
	margin: 5px 20px;
	padding: 0 20px;
	color: #88ac0b;
}

ul span,ol span {
	color: #666666;
}

acronym {
	cursor: help;
	border-bottom: 1px solid #777;
}

blockquote {
	margin: 10px;
	padding: 10px 10px 10px 28px;
	border: 1px solid #f2f2f2;
	background: #FAFAFA url(quote.gif) no-repeat 5px 10px;
}

/* form elements */
form {
	margin: 0px;
	padding: 5px 10px;
	border: 1px solid #f2f2f2;
	background-color: #FAFAFA;
}

label {
	display: block;
	font-weight: bold;
	margin: 5px 0;
}


input {
	padding: 4px 4px;
	border: 1px solid #eee;
	font: normal 1em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	color: #777;
}

table#login input {
	padding: 8px 8px ;
	margin:0px 0px 10px 0px ;
	border: 1px solid #eee;
	font: normal 1em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	color: #777;
}

table#login input.button {
	margin: 0;
	font: bolder 14px Arial, Sans-serif;
	border: 1px solid #CCC;
	padding: 4px;
	background: #FFF;
	color: #88ac0b;
	text-align: center;
}

table#searchTrend
{
	table-layout:fixed;
}

td#searchTrend
{
	width: 50%;
}

table#hour
{
	table-layout:fixed;
}

td#hour
{
    width: 50%;
}

table#keywords
{
	table-layout:fixed;
}

td#keywords
{
	width: 50%;
}

table#type
{
	table-layout:fixed;
}

td#type
{
	width: 50%;
}

table#dimvalssearch
{
	table-layout:fixed;
}

td#dimvalssearch
{
	width: 50%;
}

table#search1
{
	table-layout:fixed;
}

td#search1
{
    width: 50%;
}

textarea {
	width: 400px;
	padding: 4px 5px;
	font: normal 1em 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	border: 1px solid #eee;
	height: 100px;
	display: block;
	color: #777;
}

input.button {
	margin: 0;
	font: bolder 14px Arial, Sans-serif;
	border: 1px solid #CCC;
	padding: 4px;
	background: #FFF;
	color: #88ac0b;
	text-align: center;
}

table#dimvalssearch td{
				margin: 0;
				padding: 10px 5px 0px 0px;
 				vertical-align:top;
}

table#searchTrend td{
				margin: 0;
				padding: 10px 5px 0px 0px;
 				vertical-align:top;
}

table#search1 td{
				margin: 0;
				padding: 10px 20px 0px 0px;
 				vertical-align:top;
 				width:250px;
}

table#hour td{padding: 10px 30px 0px 0px;
 			  vertical-align:top;
}

table#type td{padding: 10px 30px 0px 0px;
 			  vertical-align:top;
}

table#keywords td{padding: 10px 30px 0px 0px;
 			  vertical-align:top;
}

table#add td{
	padding: 20px 0px 20px 10px;
	margin: 10px 0px 0px 0px;
	text-align:left;
}

table#remove td{
	padding: 20px 20px 0px 10px;
	margin: 10px 0px 0px 0px;
	text-align:left;
}

/* ----------------------------------------------
   LAYOUT
------------------------------------------------- */
#wrap {
	width: 1025px;
	background: #CCC url(../images/content.jpg) repeat-y left top;
	margin: 0 auto;
	text-align: left;
}

#content-wrap {
	clear: both;
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

#header {
	width: 1025px;
	position: relative;
	height: 132px;
	background: #CCC url(../images/header.jpg) no-repeat left top;
	padding: 0;
	font-size: 14px;
	color: #FFF;
}

#header h1#logo-text {
	position: absolute;
	margin: 0;
	padding: 0;
	font: bolder 2em 'Trebuchet MS', Times New Roman;
	letter-spacing: -2px;
	color: #FFF;
	text-transform: none;
	text-align: center;
	/* change the values of top and left to adjust the position of the logo*/
	top: 50px;
	left: 50px;
}

#header h2#slogan {
	position: absolute;
	margin: 0;
	padding: 0;
	font: normal .8em 'Trebuchet MS', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	/* change the values of top and left to adjust the position of the slogan*/
	top: 74px;
	left: 58px;
}

/* Menu */
#menu {
	clear: both;
	margin: 0;
	padding: 0 40px 0 0;
	background: url(../images/menu.jpg) repeat-y left top;
	font: bold 13px/28px 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	height: 30px;
	color: #FFFFFF;
}

#menu ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	display: block;
	float: left;
	padding: 0 10px;
	color: #FFF;
	text-decoration: none;
}

#menu ul li a:hover {
	background-color: #ECECEC;
	color: #333;
}

#menu ul li#current a {
	background-color: #FFF;
	color: #333;
}
/* Main Column */
#main {
	float: right;
	width: 76.5%;
	padding: 0;
	margin-top: 10px;
}

#main h1 {
	margin-top: 10px;
	margin-right: 8px;
	font: Bold 125% Verdana, 'Trebuchet MS', Sans-serif;
	color: #88ac0b;
	padding: 5px 0 5px 25px;
	border-bottom: 1px solid #EFF0F1;
	background: #FFF url(../images/square-green.png) no-repeat 3px 50%;
}

.post-footer {
	background-color: #FAFAFA;
	padding: 5px;
	margin: 20px 10px 0 10px;
	border: 1px solid #f2f2f2;
	font-size: .9em;
}

.post-footer .date {
	background: url(clock.gif) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.post-footer .comments {
	background: url(comment.gif) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

.post-footer .readmore {
	background: url(page.gif) no-repeat left center;
	padding-left: 20px;
	margin: 0 10px 0 5px;
}

/* Side bar */
#sidebar {
	float: left;
	width: 22%;
	padding: 0;
	margin: 10px 0 0 0;
}

#sidebar h1 {
	margin-top: 10px;
	padding: 5px 0 5px 10px;
	font: bold 1.1em Verdana, 'Trebuchet MS', Sans-serif;
	color: #555;
	background: #EEF0F1 url(../images/headerbg.gif) repeat-x left bottom;
	border: 1px solid #EFF0F1;
}

#sidebar .left-box {
	margin: 0 0 5px 0;
}

#sidebar .left-box p {
	margin: 0px;
}

#sidebar .center-box {
	text-align: center;
}

#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 3px 0 8px 0;
	padding: 0;
	text-decoration: none;
	font-size: .9em;
}

#sidebar ul.sidemenu li {
	border-bottom: 1px solid #EFF0F1;
	background: url(../images/go.gif) no-repeat 5px 7px;
	padding: 3px 0 3px 25px;
	margin: 0 2px;
}

#sidebar ul.sidemenu a {
	font-weight: bolder;
	text-decoration: none;
	background-image: none;
}

/* Footer */
#footer {
	color: #FFFFFF;
	background: #CCC url(../images/footer.jpg) no-repeat left top;
	clear: both;
	width: 1025px;
	position: relative;
	height: 68px;
	text-align: center;
	font-size: .9em;
	margin-top: 600px;
}

#footer a {
	text-decoration: none;
}

/* alignment classes */
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.float-center {
	float: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

/* display and additional classes */
.clear {
	clear: both;
}

.gray {
	color: #CCC;
}

.breadcrumb {
	font: bold 14px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica,
		sans-serif;
	margin: 0;
	padding: 0px 30px;
}

.breadcrumb a {
	font: 14px/160% 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	text-decoration: none;
	margin: 0;
	padding: 0; /*adjust bullet image padding*/
	color: #555;
}

.breadcrumb a:visited,.breadcrumb a:active {
	color: #555;
}

.breadcrumb a:hover {
	text-decoration: underline;
}

.breadcrumb a:after {
	content: ">";
}
/* form error */
.error {
	color: #ff0000;
}

/* table  */
.report {
	width: 700px;
}

.trend
{
	width: 700px;
}

.report th {
	color: #88cf00;
	font-size: 110%;
}


/*start tabify style*/
.slider div ul.menu1 li a {
	background: #EEeeF1;
	padding: 5px;
	border-right: 1px solid #ccf;
	border-bottom: none;
	text-decoration: none;
	color: #555;
	font-weight: bold;
}

.slider div ul.menu1 li.active a {
	background: #88cf00;
}

.slider div ul.menu1 {
	padding: 0;
	clear: both;
}

.content1 {
	float: left;
	clear: both;
	padding: 10px 20px 20px;
	width: 360px;
}

.slider div ul li {
	display: inline;
}

.slider .next,.slider .prev {
	display: none;
	background-color: white;
	border: 0;
	font: bold 20px Helvetica;
	color: #88cf00;
	float: left;
	padding: 0;
	margin: 0;
}

.slider .next {
	float: right;
}

.slider div {
	overflow: hidden;
	text-align: left;
	height: none;
}

.slider div ul {
	width: 100000px;
	overflow: hidden;
	margin: 0;
}
/*end tabify style*/

/*start popup style*/
#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #EEeeF1;
	display: none;
}

#boxes .window {
	position: absolute;
	left: 0;
	top: 0;
	width: 440px;
	height: 200px;
	display: none;
	z-index: 9999;
	padding: 20px;
}

#boxes #dialog {
	width: 350px;
	height: 130px;
	padding: 7px;
	background-color: #88cf00;
}
/*end popup style*/

/* start showmore */
.panel {
	display: none;
}

.flip:hover {
	text-decoration: underline;
}

/* shine starts here */
.thumbnailimage {
	margin-left: 2px;
	margin-top: 5px;
	float: left;
	padding: 2px;
}

.large_thumb {
	float: left;
	position: relative;
	width: 64px;
	height: 64px;
	padding: 0px 10px 0px 0;
}

img.large_thumb_image {
	position: absolute;
	left: 5px;
	top: 4px;
}

.large_thumb_border {
	width: 64px;
	height: 64px;
	background: url('../images/thumb_border.png');
	position: absolute;
}

.large_thumb_shine {
	width: 54px;
	height: 54px;
	background: url('../images/shine.png');
	position: absolute;
	background-position: -150px;
	left: 5px;
	top: 4px;
	background-repeat: no-repeat;
}

.thumb_container {
	width: 64px;
	height: 64px;
	background-image: url('../images/thumb_holder.png');
}
/* hide url*/
.hidden {
	display: none;
}

/* value report tabs*/
.menu1 {
	padding: 0;
	clear: both;
}

.menu1 li {
	display: inline;
}

.menu1 li a {
	background: #EEeeF1;
	padding: 5px;
	border-right: 1px solid #ccf;
	border-bottom: none;
	text-decoration: none;
	color: #555;
	font-weight: bold;
}

.menu1 li.active a {
	background: #88cf00;
}

.content2 {
	float: left;
	clear: both;
	width: 735px;
}
.title_div{
	float:left;
	width:70%;
}
.modify_search{
	float:left;
	width:28%;
	height:28px;
	padding-top:15px;
	text-align:right;
	padding-right:10px;
}

.hiddenDiv {
	display: none;
}

.visibleDiv {
	display: block;
	border: 1px grey solid;
}